.DS_Store
.build/
DerivedData/
build/
Debug/
Release/
*.app/
*.appex/
*.swiftmodule/
*.swiftdoc
*.swiftsourceinfo
*.abi.json
*.xcarchive/
*.dSYM/
*.zip
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
harvicode.json
